@import 'prismjs/themes/prism.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text-color: #444;
    --color-primary: #3490dc; /* Custom primary color */
    --color-primary-hover: #2779bd; /* Custom primary hover color */
}

html {
    @apply text-text-color;
}

h1 {
    @apply text-4xl font-bold text-left text-text-color mb-4;
}

h2 {
    @apply text-2xl font-semibold text-left text-text-color mb-3;
}

.my-main-cover {
    @apply fixed flex flex-col items-center
           justify-center w-screen h-screen flex-nowrap bg-slate-300;
}

.my-button {
    @apply bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded;
}

.my-content {
    @apply relative top-[40vh] bg-white p-4;
}

.my-pre {
    @apply border bg-gray-300;
}

.my-example-layout {
    @apply grid grid-cols-2 gap-4; /* Use grid layout with 2 equal columns and a gap */
}

.my-example-layout > pre {
    @apply m-0;
}
.my-dropdown {
    @apply bg-white shadow-lg rounded-md p-4 border border-gray-200;
}
